<!DOCTYPE html>
<html>
  <head>
    <title>Flask App </title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}" >
    <!-- rel = relevant,  href = reference-->
  </head>
  <body>
    <header>
      <div class="container">
        <h1 class="logo">Ardit's web app</h1>
        <strong><nav>
          <ul class="menu">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
          </ul>
        </nav></strong>
      </div>
    </header>
    <div class="container">    <!-- layout 這個檔案當主程式  其餘的當子程式 也就是container --> 
        {%block content%}
        {%endblock%}
    </div>
  </body>
</html>
